/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/*!* Стили иконки Сердечко. *!*/
.like-icon {
  width: auto;
  max-height: 34px;
}

.like-icon .heart .border {
  fill: var(--main-color);
  transition: fill linear 0.1s;
}

.like-icon .core {
  fill: transparent;
  transition: fill linear 0.3s 0.03s;
}

.like-icon .body {
  fill: transparent;
  transition: fill linear 0.3s;
}

.like-icon .splash {
  fill: transparent;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill linear 0.3s;
}

.like-icon:hover .body {
  fill: var(--main-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--active-heart-color);
  transition: fill linear 0.3s;
}

.like-icon:active .body {
  fill: var(--active-heart-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--active-heart-color);
  transition: fill linear 0.3s;
}

.like-icon.is-liked .body {
  fill: var(--active-heart-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .border {
  fill: var(--active-heart-color);
  transition: fill linear 0.3s 0.06s;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale ease-in 0.3s 0.1s alternate;
}

.like-icon.is-liked .splash {
  animation: heart-splash ease-in 0.3s 0.3s alternate;
}

@keyframes arrow-left-animation {
  from {
    left: -23px;
  }
  to {
    left: -19px;
  }
}

@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes heart-splash {
  from {
    fill: transparent;
  }
  to {
    fill: var(--active-heart-color);
  }
}